figure.right {
  float: right;
  margin-right: 0.2rem;
}

figure.left {
  float: left;
  margin-left: 0px;
}

figure.small {
  max-width: 8rem
}

figure.medium {
  max-width: 12rem
}

figcaption {
  font-style: italic;
  font-size: 0.8rem
}

/* Youtube */

iframe {
  max-width: 100%
}


/* Tables */
table.no-border {
  border: 0px;
}

table.no-border tr td {
  border: 0px;
  background-color: transparent;
  padding: 0px;
  font-style: italic;
  font-size: 0.8rem;
}

table.no-border td.col1 {
  text-align: left
}

table.no-border td.col2 {
  text-align: right
}
